body {
    background-color: rgb(226, 201, 201);
}
h1 {
    text-align: center;
    color: white;
    font-family:Geneva, Verdana, sans-serif;
    
}
.chinese {
    color:black;
}
.image {
    image-rendering: center;
}